<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="colum1">
                <h1>Más información de la compañia</h1>
                <p>Estamos enfocados en dar a conocer la riqueza cultural de Guadalajara, mostrando a 
                    nuestros visitantes la gran cantidad de comercios que nos rodean y las posibilidades turísticas
                    que tenemos para cada uno de ellos, ¡Anúnciate con nosotros y lleva tu negocio a las personas 
                    que te están buscando!</p>
                    <a class="nav-link" (click)="iniciarsession()">Iniciar sesión</a>
            </div>
            <div class="colum2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="/assets/indeximage/facebook.png">
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row">
                    <img src="/assets/indeximage/twitter.png">
                    <label>Siguenos en Twitter</label>
                </div>
                <div class="row">
                    <img src="/assets/indeximage/instagram.png">
                    <label>Siguenos en Instagram</label>
                </div>
            </div>
            <div class="colum3">
                <h1>Contáctanos</h1>
                <div class="row2">
                    <img src="/assets/indeximage/house.png">
                    <label>AV. Vallarta, Zapopan</label>
                </div>
                <div class="row2">
                    <img src="/assets/indeximage/smartphone.png">
                    <label>+1-829-395-2064</label>
                </div>
                <div class="row2">
                    <img src="/assets/indeximage/contact.png">
                    <label>CANACO@gmail.com</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2020 Todos los Derechos Reservados | <a href="">CANACO</a>
            </div>
            <div class="information">
                <a href="">Información Compañia</a> | <a href="">Privacidad y Políticas</a> | <a href="">Terminos y
                    Condiciones</a>
            </div>
        </div>
    </div>
</footer>