<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <!-- End Main Sidebar -->
        <main class="row">
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters pt-4 pb-0">
                    <div class="col-md-6 col-sm-12 text-center text-sm-left mb-2">
                        <span class="text-uppercase page-subtitle">Empresas</span>
                        <h3 class="page-title">Lista de solicitudes de empresas</h3>
                    </div>
                </div>
                <div class="row mt-1 mb-2">
                    <div class="col-md-6 col-sm-12 filtrar">
                        <label for="">Filtrar Resultados</label>
                        <select name="" id="" class="select-filtros" [(ngModel)]="opcionSeleccionado" (change)="getEstatusEmpresas()">
                            <option value="Todos" selected>Todos</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Validado">Validados</option>
                            <option value="Cancelado">Cancelados</option>
                            <option value="Cancelado por el afiliado">Cancelados por el afiliado</option>
                        </select>
                    </div>
                    <!-- Pagination md and lg-->
                    <div class="col-md-6 col-sm-12 d-md-flex justify-content-md-end ">
                        <pagination-controls class="pagination-style pagination-md {{ empresas.length > 0 ? '':'d-none' }}" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                        </pagination-controls>
                    </div>
                </div>
                <!-- End Page Header -->

                <!-- no results found -->
                <div class="row mt-5 {{ empresas.length > 0 ? 'd-none':'' }}">
                    <div class="col-12">
                        <h3 class="text-center font-weight-bold">No se encontraron resultados.</h3>
                    </div>
                </div>

                <!-- empresas list -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let empresa of empresas |  paginate: { itemsPerPage: 3, currentPage: pageActual }">
                        <div class="card card-small card-post card-post--1">
                            <div class="card-post__image">
                                <img [src]="url + '/' + empresa.imagePath" class="img-card-top w-100">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-fiord-blue text-center">{{empresa.nombreEmpresa}}</a>
                                </h5>
                                <p class="card-text mb-3">Giro: {{empresa.giro}}</p>
                                <p class="card-text mb-3 ">Estatus: {{empresa.estatus}}</p><br>
                                <!-- <p class="card-text mb-3">{{empresa.redsocial}}</p>
                                <p class="card-text mb-3">{{empresa.telefono}}</p> -->
                                <div class="d-flex flex-column align-items-center" id="btn">
                                    <!-- ACTIONS BUTTONS -->
                                    <button class="btn btn-sm btn-outline-success btn-pill btn-block {{empresa.estatus === 'Validado' ? 'd-none':''}}" (click)="updateEstatus('Validado', empresa._id)"><i class="material-icons">check_circle</i>Validar
                                    </button>
                                    <button class="mt-1 btn btn-sm btn-outline-danger btn-pill btn-block {{empresa.estatus === 'Cancelado' || empresa.estatus === 'Cancelado por el afiliado' ? 'd-none':''}}" data-toggle="modal" data-target="#cancelarSolicitud" (click)="changeId(empresa._id)"><i class="material-icons">cancel</i>Cancelar
                                    </button>
                                    <button class="mt-1 btn btn-sm btn-outline-primary btn-pill btn-block" data-toggle="modal" data-target="#masInfo" (click)="getEmpresa(empresa._id)"><i class="material-icons">preview</i>Ver más info
                                    </button>
                                    <button class="mt-1 btn btn-sm btn-outline-danger btn-pill btn-block {{empresa.estatus === 'Cancelado' || empresa.estatus === 'Cancelado por el afiliado' ? '':'d-none'}}" (click)="showConfirmacion(empresa._id)"><i class="material-icons">delete</i>Eliminar Solicitud
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination-sm -->
                <pagination-controls class="pagination-style pagination-sm {{ empresas.length > 0 ? '':'d-none' }}" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>


        </main>

    </div>
</div>

<!-- Modal observaciones -->
<div class="modal fade" id="cancelarSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-header row pt-4 pb-0">
                    <div class="col-md-12 col-sm-12 text-center text-sm-left mb-2">
                        <span class="text-uppercase page-subtitle">Empresa</span>
                        <h3 class="page-title">Cancelar solicitud</h3>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">* Observaciones</p>
                        <p class="mb-1">Escribe el mótivo por el que la solicitud se canceló</p>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control observaciones" #observaciones></textarea>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-2">
                        <button class="btn btn-danger btn-responsive-modal" (click)="cancelSolicitud(observaciones)" data-dismiss="modal"><i class="material-icons" >cancel</i>Cancelar Solicitud</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal masInfo-->
<div class="modal fade" id="masInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-header row pt-4 pb-0">
                    <div class="col-md-12 col-sm-12 text-center text-sm-left mb-2">
                        <span class="text-uppercase page-subtitle">Más Información</span>
                        <h3 class="page-title">Solicitud de Empresa</h3>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body" *ngIf="empresaInfo != undefined">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <img [src]="url + '/' + empresaInfo.imagePath" class="img-card-top w-100">
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <h4>Información</h4>
                        <div>
                            <p class="mb-2"><b>Nombre de la Empresa: </b>{{empresaInfo.nombreEmpresa}}</p>
                            <p class="mb-2"><b>Giro: </b>{{empresaInfo.giro}}</p>
                            <p class="mb-2"><b>Teléfono: </b>{{empresaInfo.telefono}}</p>
                            <p class="mb-2"><b>Estatus: </b>{{empresaInfo.estatus}}</p>
                            <p class="mb-2"><b>Descripción: </b>{{empresaInfo.descripcion}}</p>
                            <p *ngIf="empresaInfo.estatus === 'Cancelado'" class="mb-2">Observaciones: {{empresaInfo.observaciones}}</p>
                            <div>
                                <div *ngIf="empresaInfo.paginaWeb != ''">
                                    <a href="{{empresaInfo.paginaWeb}}" target="_blank">
                                        <i class="material-icons">web</i> Ir a página web
                                    </a>
                                </div>
                                <div *ngIf="empresaInfo.facebook != ''">
                                    <a href="{{empresaInfo.facebook}}" target="_blank">
                                        <i class="material-icons">facebook</i> Ir a página de Facebook
                                    </a>
                                </div>
                                <div *ngIf="empresaInfo.twitter != ''">
                                    <a href="{{empresaInfo.twitter}}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                           <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                                        </svg> Ir a página de Twitter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>