<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-md-6 col-sm-12 text-center text-sm-left mb-2">
                        <span class="text-uppercase page-subtitle">Empresas</span>
                        <h3 class="page-title">Lista de solicitudes de empresas</h3>
                    </div>
                    <!-- Pagination md and lg-->
                    <div class="col-md-6 col-sm-12 d-md-flex justify-content-md-end">
                        <pagination-controls class="pagination-style pagination-md" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                        </pagination-controls>
                    </div>
                </div>
                <!-- End Page Header -->

                <!-- empresas list -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let empresa of empresas |  paginate: { itemsPerPage: 4, currentPage: pageActual }">
                        <div class="card card-small card-post card-post--1">
                            <div class="card-post__image">
                                <img [src]="'http://localhost:4000/' + empresa.imagePath" class="img-card-top w-100">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-fiord-blue text-center">{{empresa.nombreEmpresa}}</a>
                                </h5>
                                <p class="card-text mb-3">{{empresa.giro}}</p>
                                <p class="card-text mb-3">{{empresa.redsocial}}</p>
                                <p class="card-text mb-3">{{empresa.telefono}}</p>
                                <div class="my-auto ml-auto text-center">
                                    <button class="btn btn-sm btn-success btn-pill disabled"><i class="material-icons">check_circle</i>Validar
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <router-outlet></router-outlet> -->
                <!-- pagination-sm -->
                <pagination-controls class="pagination-style pagination-sm" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </main>
    </div>
</div>