<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading title-sidebar py-4">
                <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 35px;" src="./assets/Catedral_centro_rotonda.jpg" alt="CANACO">
                <span class="d-none d-md-inline ml-1">CANACO</span>
            </div>
            <div class="list-group list-group-flush ">

                <a class="nav-link list-group-item list-group-item-action bg-light link-style" routerLink="mis/solicitudes"routerLinkActive="link-style--activo">
                    <i class="material-icons">location_city</i>
                    <span>Mis solicitudes</span>
                </a>
                <a class="nav-link list-group-item list-group-item-action bg-light link-style" routerLink="/empresa/new" routerLinkActive="link-style--activo">
                    <i class="material-icons">location_city</i>
                    <span>Solicita Anunciacion</span>
                </a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-borde" id="menu-toggle"><i class="material-icons">menu</i></button>


                <a class="nav-link dropdown-toggle text-nowrap px-3 navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="user-avatar rounded-circle mr-2 imagen-afiliado" src="./assets/login_icon.png">
                    <span class="d-none d-md-inline-block">Afiliado</span>
                </a>

                <div class="collapse navbar-collapse ocultar-lg" id="navbarSupportedContent">
                    <a class="dropdown-item ocultar-lg">
                        <i class="material-icons">&#xE7FD;</i><span>{{nombre}}</span>
                    </a>
                    <a class="btn btn text-danger ocultar-lg" (click)="cerrarsession()">
                        <i class="material-icons text-danger">&#xE879;</i>Cerrar Sesion
                    </a>
                </div>

                <div class="ocultar-md">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown li-opciones">
                            <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle mr-2 imagen-afiliado" src="./assets/login_icon.png">
                                <span class="d-none d-md-inline-block">Afiliado</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-small">
                                <a class="dropdown-item">
                                    <i class="material-icons">&#xE7FD;</i><span>{{nombre}}</span>
                                </a>
                                <a class="btn btn text-danger" (click)="cerrarsession()">
                                    <i class="material-icons text-danger">&#xE879;</i>Cerrar Sesion
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>