<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters pt-4 pb-1">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">Restaurantes</span>
                        <h3 class="page-title">Lista de Restaurantes</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 centrar-responsive">
                        <button class="btn btn-sm btn-success btn-pill btn-responsive" (click)="navegacion()"><i class="material-icons">add</i>Agregar nuevo Restaurante
                    </button>
                    </div>
                    <!-- Pagination md and lg-->
                    <div class="col-md-6 col-sm-12 d-md-flex justify-content-md-end">
                        <pagination-controls class="pagination-style pagination-md" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                        </pagination-controls>
                    </div>
                </div>
                <!-- End Page Header -->

                <!-- restaurante list -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let restaurante of restaurantes |  paginate: { itemsPerPage: 4, currentPage: pageActual }">
                        <div class="card card-small card-post card-post--1">
                            <div class="card-post__image">
                                <img [src]="url + '/' + restaurante.imagePath" class="img-card-top w-100">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-fiord-blue">{{restaurante.nombreRes}}</a>
                                </h5>
                                <p class="card-text text-justify mb-3">{{restaurante.descripcion}}</p><br>
                                <p class="card-text mb-3">{{restaurante.direccion}}</p>
                                <p class="card-text mb-3">{{restaurante.link}}</p>
                                <div class="my-auto ml-auto text-center">
                                    <button class="btn btn-sm btn-primary btn-pill btn-responsive" (click)="selectedButton(restaurante._id)"><i class="material-icons">edit</i>Editar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <router-outlet></router-outlet> -->
                <!-- pagination-sm -->
                <pagination-controls class="pagination-style pagination-sm" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </main>
    </div>
</div>