<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <!-- End Main Sidebar -->
        <main class="row">
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">Sitios Turisticos</span>
                        <h3 class="page-title">Editar Sitio Turistico</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <div class="row" *ngIf="sitio">
                    <div class="col-lg-9 mb-4">
                        <div class="card card-small mb-4">
                            <div class="card-body">
                                <form (submit)="updateSitio(nombresitio, subtitulo, descripcioncorta, contenido1, contenido2)">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input class="form-control" type="text" placeholder="Nombre del sitio" [value]="sitio.nombresitio" #nombresitio>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input class="form-control" type="text" placeholder="Subtitulo del sitio" [value]="sitio.subtitulo" #subtitulo>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" type="text" rows="2" cols="100" placeholder="Descripción corta del sitio turistico" [value]="sitio.descripcioncorta" #descripcioncorta></textarea>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <textarea class="form-control" rows="10" cols="30" placeholder="Primer contenido del sitio turistico" [value]="sitio.contenido1" #contenido1></textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <textarea class="form-control" rows="10" cols="30" placeholder="Segundo contenido del sitio turistico" [value]="sitio.contenido2" #contenido2></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12 mb-0">
                                            <p class="mb-1">* Presiona la imagen para modificar la foto del sitio turistico</p>
                                        </div>
                                        <div class="form-group col-md-4"></div>
                                        <div class="form-group col-md-4">
                                            <input class="form-control width-90" type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                                            <!-- si existe una foto seleccionada utiliza si no usa la que tenemos en assets -->
                                            <img [src]="photoSelected || url + '/' + sitio.imagePath" class="img-fluid pointer" alt="No image" (click)="photoInput.click()">
                                        </div>
                                        <div class="form-group col-md-4"></div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-outline-accent btn-responsive-form">
                                            <i class="material-icons">save</i>Guardar sitio
                                        </button>
                                    </div>
                                </form>
                                <!-- <button class="btn btn-sm btn-outline-danger btn-responsive-form" (click)="deleteSitio(sitio._id)"><i class="material-icons">delete</i>
                                  Eliminar
                                </button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card card-small card-post card-post--1">
                            <div class="card-header">
                                <h6 class="m-0">¿Como editar un sitio?</h6>
                            </div>
                            <img src="./assets/img/sitios.jpg">
                            <div class="card-body">
                                <h5 class="card-title"><a>Instrucciones</a></h5>
                                <p class="card-text d-inline-block mb-1">*Edita los campos correctamente.</p>
                                <p class="card-text d-inline-block mb-1">*Sube las imagenes en formato png/jpg.</p>
                                <p class="card-text d-inline-block mb-1">*Para la portada sube una imagen de tamaño de: 800px x 533px.</p>
                                <p class="card-text d-inline-block mb-1">*Para las otras imagenes debe ser un tamaño de: px x px.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>