p{
    text-align: justify;
    height: 100px;
    width: auto;
}
img{
    float: unset;
    align-items: center;
    margin: 1em;
    margin-left: 75px;

}
h2{
    font-size: 40px;
    text-align: center;
    height: 60px;
    width: auto;
}
h3{
    text-align: center;
    font-size: 40px;
    padding: 5px;
    margin-top: 0px;
    font-weight: bold;
}
.posicionar-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* Móviles en horizontal o tablets en vertical
  ------------------------------------------------------------------------- */
  @media (min-width:481px) and (max-width: 1199px) { 
    img{
      align-items: center;
      margin: 1em;
      margin-left: 35%;
  
  }
  }
  /* Móviles en vertical
  ------------------------------------------------------------------------- */
  @media (min-width:320px) and (max-width: 480px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .posicionar-pagination {
      justify-content: center;
      margin-bottom: 0;
    }
    p{
      padding: 10px;
    }
  }