<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
            <div class="main-navbar">
                <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                    <a class="navbar-brand w-100 mr-0" routerLink="panel" style="line-height: 25px;">
                        <div class="d-table m-auto">
                            <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 35px;" src="/assets/Catedral_centro_rotonda.jpg" alt="CANACO">
                            <span class="d-none d-md-inline ml-1">CANACO</span>
                        </div>
                    </a>
                    <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                        <i class="material-icons">&#xE5C4;</i>
                    </a>
                </nav>
            </div>
            <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
                <div class="input-group input-group-seamless ml-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input class="navbar-search form-control" type="text" placeholder="Buscador" aria-label="Search">
                </div>
            </form>
            <div class="nav-wrapper">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">
                            <i class="material-icons">image</i>
                            <span>Slider</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="sitios">
                            <i class="material-icons">location_city</i>
                            <span>Sitios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="eventos">
                            <i class="material-icons">event</i>
                            <span>Eventos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="empresas">
                            <i class="material-icons">note_add</i>
                            <span>Solicitudes de Empresas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="restaurantes">
                            <i class="material-icons">food_bank</i>
                            <span>Restaurantes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="hoteles">
                            <i class="material-icons">apartment</i>
                            <span>Hoteles</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="administradoresLista">
                            <i class="material-icons">people_alt</i>
                            <span>Administradores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="afiliados">
                            <i class="material-icons">people_alt
              </i>
                            <span>Usuarios Afiliados</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="carrusel">
                            <i class="material-icons">settings
              </i>
                            <span>Carrusel</span>
                        </a>
                    </li>


                </ul>
            </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                    <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                        <div class="input-group input-group-seamless ml-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>

                        </div>
                    </form>
                    <ul class="navbar-nav border-left flex-row ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle mr-2" src="/assets/login_icon.png">
                                <span class="d-none d-md-inline-block">Administrador</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-small">
                                <a class="dropdown-item" href="#">
                                    <i class="material-icons">&#xE7FD;</i>{{nivelusu}}</a>
                                <a class="btn btn text-danger" (click)="cerrarsession()">
                                    <i class="material-icons text-danger">&#xE879;</i>Cerrar Sesion</a>
                            </div>
                        </li>
                    </ul>
                    <nav class="nav">
                        <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                            <i class="material-icons">&#xE5D2;</i>
                        </a>
                    </nav>
                </nav>
            </div>
        </main>
    </div>
</div>
<router-outlet></router-outlet>