<main class="row">
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Panel</span>
                <h3 class="page-title">Administrador</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small bg-primary">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <i class="material-icons" style="font-size: 50px">event</i>
                                <span class="stats-small__label text-uppercase">Eventos</span>
                                <h6 class="stats-small__value count my-3">{{totaleventos}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small bg-light">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <i class="material-icons" style="font-size: 50px">location_city</i>
                                <span class="stats-small__label text-uppercase">Sitios Turisticos</span>
                                <h6 class="stats-small__value count my-3">{{totalsitios}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small bg-success">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <i class="material-icons" style="font-size: 50px">apartment</i>
                                <span class="stats-small__label text-uppercase">Hoteles</span>
                                <h6 class="stats-small__value count my-3">{{totalhoteles}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small bg-danger">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <i class="material-icons" style="font-size: 50px">food_bank</i>
                                <span class="stats-small__label text-uppercase">Restaurantes</span>
                                <h6 class="stats-small__value count my-3">{{totalrestaurant}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small bg-info">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <i class="material-icons" style="font-size: 50px">people_alt</i>
                                <span class="stats-small__label text-uppercase">Usuarios afiliados</span>
                                <h6 class="stats-small__value count my-3">{{totalusuario}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>