.select-filtros {
    width: 15rem;
    height: 2.3rem;
    margin-left: 1rem;
    border: 1px solid rgb(161, 161, 161);
    border-left: 8px solid rgba(57, 143, 210);
    border-radius: 0.4rem;
    outline: none;
}

.select-filtros:focus {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(99, 99, 255, 0.71);
    -moz-box-shadow: 0px 0px 12px 0px rgba(99, 99, 255, 0.71);
    box-shadow: 0px 0px 12px 0px rgba(99, 99, 255, 0.71);
    border: 1px solid rgba(99, 99, 255, 0.71);
    border-left: 8px solid rgba(57, 143, 210);
}
.card-body{
    width: auto;
    height: 300px;
}
img{
    height: 200px;
}
#info{
    height: 220px;
}
h5{
    margin-top: 10px;
}
#btn-responsive{
    position:absolute;
    bottom:5px;
    right:10px;
}

@media (max-width: 576px) {
    .select-filtros {
        width: 100%;
        margin-left: 0;
    }
    .filtrar label {
        margin-top: 1rem;
    }
}