<head>
    <title>Teatro Degollado</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="styleheet" href="/node_modules/bootstrap/js/src/carousel.js" />
    <link rel="styleheet" href="/node_modules/bootstrap/css/bootstrap.min.css" />
</head>

<body><br>
    <!-- Main -->
    <div id="main" class="wrapper style2">
        <div class="title"></div>
        <div class="container">

            <!-- Content -->
            <div class="container bg-light" id="content">
                <h2>Teatro Degollado</h2>
                <h3>Estilo neoclásico que perdura en Hispanoamérica<br class="mobile-hide" />
                </h3>
                <article class="box post  " id="texto">
                    <header class="style1">
                    </header>
                    <a href="/assets/images/Infografias/Degollado1.jpg" class="image featured">
                        <img class="container" class="container" id="img1" src="/assets/images/Infografias/Degollado1.jpg" alt=""
                            height="500" />
                    </a>
                    <p>El Teatro Santos Degollado es un edificio de mediados del siglo XIX, ubicado en
                        la ciudad mexicana de Guadalajara. El inmueble es escenario habitual de recitales,
                        conciertos, espectáculos de danza clásica y contemporánea. Asimismo es la sede
                        de la Orquesta Filarmónica de Jalisco.

                        Junto a la Catedral de Guadalajara, el Hospicio Cabañas, la Glorieta Minerva y
                        los Arcos de Guadalajara es uno de los monumentos más representativos de esta
                        ciudad situada en el estado de Jalisco. </p>

                    <p>La construcción es de un estilo neoclásico recargado, siguiendo la influencia del
                        teatro italiano. Su bóveda tiene frescos de Gerardo Suárez y Jacobo Gálvez que
                        aluden al canto cuarto de la Divina Comedia El vestíbulo oval mide 10 × 6,5 m de
                        ancho. Este edificio tiene 97 m de largo, 36,4 m de ancho y una altura máxima de 22,5 m. Su
                        pórtico lo conforman 16 columnas arquitrabadas de orden corintio. Su fachada se
                        reviste de cantera y se montó un relieve en mármol, con la imagen de Apolo y
                        las nueve Musas, obra del artista nacido en Pueblo Nuevo, Guanajuato y tapatío
                        por adopción, Benito Castañeda Arredondo; abajo de este pórtico en mármol travertino
                        se lee la frase "Que nunca llegue el rumor de la discordia". </p>
                    <a href="/assets/images/Infografias/Degollado2.jpeg" class="image featured">
                        <img class="container" id="img2" src="/assets/images/Infografias/Degollado2.jpeg" alt="" height="500" />
                    </a>
                    <p>
                        A lo largo de su historia, el teatro ha tenido varias reaperturas: el 13 de
                        septiembre de 1866, el 30 de octubre de 1880, el 15 de septiembre de 1910,
                        el 28 de junio de 1941, el 8 de septiembre de 1964 y el 25 de noviembre de 2005.
                    </p>
                    <p>
                        En su más reciente restauración se aplicaron transformaciones muy relevantes al inmueble,
                        como la colocación de nuevos pisos, butaquería, trabajos de pintura, sustitución de
                        luminarias, cambio de duela en el escenario e instalación de plataforma hidráulica,
                        instalación de nuevo sistema de aire acondicionado y remodelación de área de camerinos,
                        entre otras. En el marco de esos trabajos, también se aplicó restauración a la hoja
                        de oro de 23 3/4 kilates en áreas como arco de proscenio, águila colosal, marcos,
                        columnas, remates y mascarones en proscenios. Sumamente importante también fue la
                        restauración del telón guillotina que representa una escena griega llamada Festival
                        ateniense, obra que data de alrededor de 1880 y cuya pintura fue ejecutada por el
                        artista italiano Carlos Fontana.
                    </p>
                    <a href="/assets/images/Infografias/Degollado3.jpeg" class="image featured">
                        <img class="container" id="img3" src="/assets/images/Infografias/Degollado3.jpeg" alt="" height="450" />
                    </a>
                </article>
                <br>
            </div>
            <br><br>
            <app-lugares></app-lugares>


        </div>
    </div>
</body>