<div *ngIf="entrar; else noEntro">

    <div [ngSwitch]="tipo">
        <div *ngSwitchCase="'admin'">
            <ngx-spinner>
                <div style="color: #87c4a3" class="la-ball-pulse-sync la-2x">
                    <p style="font-size: 20px; color: white">Cargando...</p>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </ngx-spinner>
            <app-cont-dashboard></app-cont-dashboard>
        </div>
        <div *ngSwitchCase="'afiliado'">
            <!-- <ngx-spinner *ngIf="nivelusu=='afiliado' ">
                <div style="color: #87c4a3" class="la-ball-pulse-sync la-2x">
                    <p style="font-size: 20px; color: white">Cargando...</p>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </ngx-spinner> -->
            <app-dash-afiliado></app-dash-afiliado>
        </div>

    </div>
</div>

<ng-template #noEntro>
    <app-menu></app-menu>
    <router-outlet></router-outlet>
    <app-pie-pagina></app-pie-pagina>
</ng-template>