.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .posicionar-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .card-body{
    height: 350px;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .posicionar-pagination {
      width: auto;
      justify-content: center;
      margin-bottom: 0;
    }
  }
  .btn-group p{
    text-align: justify;
    height: 35px;
    width: auto;
}
   p{
      text-align: justify;
      height: auto;
      width: auto;
  }
  h4{
    font-size: 30px;
    text-align: center;
    height: 60px;
    width: auto;
}