.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .btn-group p{
    text-align: justify;
    height: 35px;
    width: auto;
}
   p{
      text-align: justify;
      height: 80px;
      width: auto;
  }
  h4{
    font-size: 30px;
    text-align: center;
    height: 60px;
    width: auto;
}