.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-group p{
    text-align: justify;
    height: 35px;
    width: auto;
}
   p{
      text-align: justify;
      height: 80px;
      width: auto;
  }
  h1{
    text-align: center;
    font-size: 40px;
    padding: 5px;
    margin-top: 0px;
    font-weight: bold;
}
  h4{
    font-size: 30px;
    text-align: center;
    height: 60px;
    width: auto;
}

  .posicionar-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

/* Móviles en horizontal o tablets en vertical
  ------------------------------------------------------------------------- */
@media (min-width:481px) and (max-width: 1199px) { 
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .posicionar-pagination {
    justify-content: center;
    margin-bottom: 0;
  }
  .card-body{
    height: auto;
    width: auto;
  }
  .card-body img{
    width: auto;
    height: auto;
  }
  .card-body h4{
    text-align: center;
    font-size: 20px;
    margin: 2px;
    
  }
  .btn-group{
    align-content: center;
    margin-top: 80px;
  }
  .card-text{
    margin-top: 35px;
  }
 }

/* Móviles en vertical
  ------------------------------------------------------------------------- */
@media (min-width:320px) and (max-width: 480px) { 
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .posicionar-pagination {
    justify-content: center;
    margin-bottom: 0;
  }
  .card-body{
    width: auto;
    height: auto;
  }
  .card-body h4{
    text-align: center;
    font-size: 25px;
  }
 }