<body><bR>

    <main role="main">
      <div class="album py-5 bg-light container">
  
        <div class="container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7465.6325471514065!2d-103.4105927!3d20.6770524!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428aebf6a03c0e3%3A0x88a97455ea31966a!2sC%C3%A1mara%20de%20Comercio%20de%20Guadalajara!5e0!3m2!1ses-419!2smx!4v1591731050128!5m2!1ses-419!2smx"
            width="550" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
  
        <div style="text-align: right;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Ruta de camion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <tr>
                <td>701</td>
              </tr>
              <tr>
                <td>51 C</td>
              </tr>
              <tr>
                <td> 603 A Vía Villas de la Barranca</td>
              </tr>
              <tr>
                <td>603 A Vía Huentitán el Alto</td>
              </tr>
              <tr>
                <td>647</td>
              </tr>
              <tr>
                <td>258 D</td>
              </tr>
              <tr>
                <td>214 </td>
              </tr>
              <tr>
                <td>136</td>
              </tr>
              <tr>
                <td>Macrobús Línea 1</td>
              </tr>
              <tr>
                <td>330</td>
              </tr>
              <tr>
                <td> 153 A </td>
              </tr>
              <tr>
                <td>62 Calle 7</td>
              </tr>
              <tr>
                <td>62 Tonalteca</td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
      <br>
  
    </main>