<head>
    <title>Centro Historico</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        input#search {
            background-color: transparent;
            color: white;
            border-color: transparent;

        }

        #logo {
            width: 300px;
            height: 300px;
        }
    </style>

    <link rel="styleheet" href="/node_modules/bootstrap/js/src/carousel.js" />
    <link rel="styleheet" href="/node_modules/bootstrap/css/bootstrap.min.css" />
</head>

<body class="no-sidebar is-preload">
    <br>
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header" class="wrapper">

            <!-- Main -->
            <div id="main" class="wrapper style2">
                <div class="title"></div>
                <div class="container">


                    <!-- Content -->
                    <div class="container bg-light" id="content">
                        <h3>Centro Historico</h3>
                        <h5>La perla de occidente<br class="mobile-hide" />
                        </h5>
                        <article class="box post " id="texto">
                            <header class="style1">
                            </header>
                            <a href="/assets/images/Infografias/CentroHistorico1.jpg" class="image featured">
                                <img class="container" src="/assets/images/Infografias/CentroHistorico1.jpg" alt=""
                                    height="500" />
                            </a>
                            <br><br>
                            <p>El Centro de Guadalajara es la parte originaria de dicha ciudad, el cual se
                                compone de edificaciones, monumentos, plazas y parques construidos a lo largo
                                de sus más de cuatro siglos de historia. En él se encuentran expresiones de
                                arquitectura Colonial, barroca, neoclásica, Art Nouveau y demás.
                                El complejo nace con la fundación de la ciudad en el año de 1542
                                por los españoles, cuyo lugar se estima a espaldas del Teatro Degollado
                                donde se encuentra la Plaza Fundadores.</p>
                            <p>El Centro Histórico de la ciudad se ha caracterizado por cambiar a lo largo
                                del tiempo, y aunque aún se conservan varios edificios que datan del siglo
                                de la fundación de la ciudad, muchos de éstos fueron derribados para dar
                                paso a edificios más funcionales, avenidas más amplias, así como para
                                construir la Cruz de Plazas que rodea la Catedral de Guadalajara y la Plaza Tapatía.</p>
                            <a href="/assets/images/Infografias/CentroHistorico2.jpg" class="image featured">
                                <img class="container" src="/assets/images/Infografias/CentroHistorico2.jpg" alt=""
                                    height="450" />
                            </a>
                            <br><br>
                            <p id="texto">
                                Guadalajara cuenta con un centro histórico muy bien mantenido, con gran arquitectura y
                                mucho que contar. La ciudad fue fundada por los españoles en el año 1542 y desde
                                entonces
                                se ha destacado en varios hechos históricos y culturales; es cuna de los mariachis y
                                sede del Festival Internacional del Cine de Guadalajara y de la Feria Internacional del
                                Libro de Guadalajara.
                                El punto de comienzo para una recorrida podría ser su famosa Catedral, dominada por dos
                                torres con agujas neogóticas. La misma fue
                                terminada en el año 1618 y actualmente se encuentra en riesgo edilicio a raíz de los
                                numerosos sismos por los que pasó.
                            </p>
                            <p>
                                La Plaza de Armas, recientemente renovada, cuenta con un muy cuidado jardín, con un
                                bello
                                quiosco de hierro forjado estilo francés en el centro e iluminado por farolas del mismo
                                estilo.
                                Esta plaza es lugar de reunión y paseo de familias, donde siempre habrá algún vendedor
                                de globos, dulces o nieves para los más pequeños.
                            </p>
                            <a href="/assets/images/Infografias/CentroHistorico3.jpg" class="image featured">
                                <img class="container" src="/assets/images/Infografias/CentroHistorico3.jpg" alt=""
                                    height="500" />
                            </a>
                        </article>
                        <br>
                    </div>

                    <br>
                    <br>
                    <!-- Highlights -->
                    <app-lugares></app-lugares>
                </div>
            </div>
