<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <!-- End Main Sidebar -->
        <main class="row">
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">Administradores autorizados</span>
                        <h3 class="page-title">Editar Administrador</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <div class="row">
                    <div class="col-lg-9 mb-4">
                        <div class="card card-small mb-4">
                            <div class="card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-12 mb-3">
                                            <label for="" class="h5 d-inline">* </label>Campos Obligatorios.
                                        </div>
                                        <div class="form-group col-md-12">
                                            * Nombre completo
                                            <input (keypress)="soloLetras($event)" [(ngModel)]="administrador.nombre" [ngModelOptions]="{standalone: true}" type="text" class="form-control " maxlength="40" placeholder="Nombre completo" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            * Correo electrónico
                                            <input [(ngModel)]="administrador.email" [ngModelOptions]="{standalone: true}" type="text" class="form-control " placeholder="Correo electrónico" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            * Dirección
                                            <input [(ngModel)]="administrador.direccion" [ngModelOptions]="{standalone: true}" type="text" class="form-control " min="1" placeholder="Dirección" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            * Teléfono
                                            <input (keypress)="soloNumeros($event)" [(ngModel)]="administrador.telefono" [ngModelOptions]="{standalone: true}" type="text" class="form-control " maxlength="10" placeholder="Teléfono" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                           *Contraseña 
                                            <input [(ngModel)]="administrador.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control " maxlength="10" placeholder="Ingresa contraseña" required>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm btn-outline-accent btn-responsive-form" (click)="updateUsuario()">
                                    <i class="material-icons">edit</i>
                                    Editar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card card-small card-post card-post--1">
                            <div class="card-header">
                                <h6 class="m-0">¿Cómo editar un administrador?</h6>
                            </div>
                            <img src="./assets/img/useredit.png" style="max-width: 100%; height: 21rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a>Instrucciones</a></h5>
                                <p class="card-text d-inline-block mb-1">* Llena todos los campos correctamente.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>