<!-- Highlights -->
<section id="highlights" class="wrapper style3 container ">
    <div class="row" id="texto">
        <div *ngIf="!ocultar1" class="col-lg-4">
            <img src="./assets/indeximage/Catedralgdl.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
            <h2>Catedral de Guadalajara</h2>
            <p>La Catedral de Guadalajara es uno de los edificios más simbólicos de Guadalajara. Un edificio icónico que distingue a la perla tapatía de otras metrópolis de México.</p>
            <p><a class="btn btn-outline-danger" (click)="navegacion()" routerLink="catedral" role="button">Ver más&raquo;</a></p>
        </div>
        <div>
        </div>
        <!-- /.col-lg-4 -->
        <div *ngIf="!ocultar2" class="col-lg-4">
            <img src="./assets/indeximage/Degollado.jpeg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
            <h2>Teatro Degollado</h2>
            <p>El Teatro Degollado es considerado el más importante del acervo cultural de Jalisco. De estilo neoclásico es el edificio mejor conservado de Hispanoamérica, destacando como el más antiguo de la república mexicana en operación.
            </p>
            <p><a class="btn btn-outline-danger" (click)="navegacionn()" role="button">Ver más &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div *ngIf="!ocultar3" class="col-lg-4">
            <img src="./assets/indeximage/Rotonda.jpeg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
            <h2>Rotonda de los jalisciences ilustres</h2>
            <p>Es un monumento funerario destinado al homenaje de los hombres y mujeres que han aportado, mediante su esfuerzo y patriotismo, al desarrollo político, social, cultural, científico y militar de México.</p>
            <p><a class="btn btn-outline-danger" (click)="navegacionnn()" role="button">Ver más&raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div *ngIf="!ocultar4" class="col-lg-4">
            <img src="./assets/images/IndexPic/centrohistorico.jpg" class="bd-placeholder-img rounded-circle" width="140px" height="140px">
            <h2>Teatro</h2>
            <p>Es un monumento funerario destinado al homenaje de los hombres y mujeres que han aportado, mediante su esfuerzo y patriotismo, al desarrollo político, social, cultural, científico y militar de México.</p>
            <p><a class="btn btn-outline-danger" id="btn"(click)="navegacionnnn()" role="button">Ver más&raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</section>