<head>
    <title>Rotonda de los jalisciences ilustres</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  
    <link rel="styleheet" href="/node_modules/bootstrap/js/src/carousel.js" />
    <link rel="styleheet" href="/node_modules/bootstrap/css/bootstrap.min.css" />
  </head>
  
  <body><br>
    <div id="main" class="wrapper style2">
      <div class="title"> </div>
      <div class="container">
  
        <!-- Content -->
        <div id="content" class="container bg-light">
          <h2>Rotonda de los Jalisciences ilustres</h2>
          <h3>Jalisco a sus hijos esclarecidos<br class="mobile-hide" /></h3>
          <article class="box post" id="texto">
            <header class="style1">
  
  
  
            </header>
            <div class="container">
              <a href="/assets/images/Infografias/Rotonda1.jpg" class="image featured">
                <img class="container" id="img1" src="/assets/images/Infografias/Rotonda1.jpg" alt="" height="500" />
              </a></div>
            <p>La Rotonda de los Jaliscienses Ilustres es un monumento de la ciudad
              de Guadalajara, Jalisco, que rinde homenaje a la memoria de los
              jaliscienses que han trascendido a través de la historia.
  
              Esta famosa e importante rotonda se encuentra en el cruce de Avenida
              Hidalgo y Av. Fray Antonio Alcalde, a un costado de la Catedral de
              Guadalajara en el centro de la ciudad.
            </p>
  
            <p>El monumento construido en el año de 1952, por el arquitecto Vicente
              Mendiola, bajo iniciativa del entonces gobernador del estado José
              Jesús González Gallo, consta de diecisiete columnas estriadas sin
              base ni capital y que sostienen un anillo de cantera que tiene
              grabado en uno de sus lados la leyenda “Jalisco a sus hijos esclarecidos”;
              en el centro del monumento existe un pebetero, además en la rotonda,
              hay noventa y ocho nichos para albergar los cuerpos de los hombres
              y mujeres más ilustres y a su alrededor también existen veintidós
              estatuas de preclaros jaliscienses.
            </p>
            <a href="/assets/images/Infografias/Rotonda2.jpg" class="image featured">
              <img class="container" id="img2" src="/assets/images/Infografias/Rotonda2.jpg" alt="" height="500" />
            </a>
            <p>
              El monumento contiene un total de 98 urnas para albergar los restos de
              personajes destacados en el arte, literatura, ciencia y en labores de
              mejoramiento de la ciudad.
              Algunos de los Personajes que se encuentran en la Rotonda de los hombres ilustres son:
  
              Clemente Aguirre (Músico)
              Dr. Atl (Artista)
              Luis Barragán Morfín ( Ingeniero y Arquitecto)
              José Clemente Orozco (Muralista y litografo)
              Agustín de la Rosa (Escritor, periodista y orador sagrado)
              Enrique Díaz de León (poeta, orador e ideólogo de izquierda)
              Manuel M. Diéguez (Militar)
              Gabriel Flores García (pintor, dibujante y muralista)
              Jacobo Gálvez (arquitecto, pintor y fotógrafo)
              Marcelino García Barragán (Militar y politico)
              Valentín Gómez Farías (médico y político)
              Efraín González Luna (abogado y político)
              Enrique González Martínez (poeta, editorialista y diplomático)
              Heliodoro Hernández Loza (Politico)
              Manuel López Cotilla (Educador y politico)
              Pedro Moreno
              Leonardo Oliva (Medico)
              Mariano Otero (jurista y político)
              Rita Pérez Jiménez (Heroína de la independencia)
              Luis Pérez Verdía (Historiador y biógrafo)
              Alfredo R. Placencia (Poeta y sacerdote)
              Irene Robledo ( educadora y humanista ) 1988
              Francisco Rojas González (escritor, etnólogo y guionista de cine)
              Francisco Silva Romero
              Gerardo Suárez (Pintor)
              Ignacio L. Vallarta (Politico)
              Agustín Yáñez (novelista, ensayista y cuentista)
              José Guadalupe Zuno (abogado, humanista, naturista, caricaturista, pintor, escritor y maestro )
              Jorge Matute Remus (Ingeniero)
  
            </p>  
          </article>
          <br>
        </div>
        <!-- Highlights -->
        <br>
        <app-lugares></app-lugares>
      </div>
    </div>
  </body>