.card-body {
    width: auto;
    height: 450px;
}

img {
    height: 200px;
}

#info {
    height: 220px;
}

h5 {
    margin-top: 10px;
}

#btn-responsive {
    position: absolute;
    bottom: 5px;
    right: 10px;
}