<head>
    <title>Catedral Guadalajara Jalisco</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="styleheet" href="/node_modules/bootstrap/js/src/carousel.js" />
    <link rel="styleheet" href="/node_modules/bootstrap/css/bootstrap.min.css" />
</head>

<body id="body" class="no-sidebar is-preload">
    <br>
    <div id="page-wrapper">

        <!-- Main -->
        <div id="main" class="wrapper style2 ">
            <div class="title "></div>
            <div class="container  ">

                <!-- Content -->
                <div class="container bg-light " id="content">
                    <h2> Catedral de Guadalajara</h2>
                    <h3>Catedral Basílica de la Asunción de María Santísima<br class="mobile-hide" />
                    </h3>
                    <article class="box post " id="texto">
                        <header class="style1">

                            <p></p>
                        </header>
                        <a href="/assets/images/Infografias/Catedral1.jpg" class="image featured">

                            <img class="container" id="img1" src="/assets/images/Infografias/Catedral1.jpg" alt="" height="500" />
                        </a>

                        <p>La Catedral de Guadalajara es uno de los monumentos más bellos de la ciudad y el icono más representativo del Centro Histórico de Guadalajara. Conocida también como Catedral Metropolitana o Catedral Basílica de la Asunción de María
                            Santísima, tiene una gran historia de más de 4 siglos y es sede de la actual Arquidiócesis. En 1561 el Rey de España Felipe II la mandó construir, fue dedicada en el año de 1618 y consagrada el 12 de Octubre de 1716. Su construcción
                            estuvo a cargo del Arq. Martín Casillas. La fachada está construida con una mezcla de estilos arquitectónicos gracias a la combinación de influencias góticas, barrocas, moriscas y neoclásicas. Única en el país con su interior
                            estilo gótico, las tres naves constan de seis tramos altos y espaciosos cubiertos con bóvedas y nervaduras de dorados pinjantes. A la misma altura cada nave, en los muros laterales hay redondos pilarones estriados.
                        </p>

                        <p>Entre sus tesoros se aprecia La Purísima Concepción, pintura creada por Bartolomé Esteban Murillo. También famoso es su órgano, el segundo más grande la República Mexicana, de origen francés. Destaca también la escultura de la
                            Virgen de la Rosa, regalo del emperador Carlos V, un cristo de marfil y óleos de artistas mexicanos.
                        </p>
                        <a href="/assets/images/Infografias/Catedral2.jpg" class="image featured">
                            <img class="container" id="img2" src="/assets/images/Infografias/Catedral2.jpg" alt="" height="450" />
                        </a>
                        <p>
                            La cripta de los arzobispos es uno de los mayores atractivos. Debajo del coro y del altar mayor se encuentran las criptas de los obispos y cardenales donde yacen los restos de quienes han gobernado la diócesis desde el siglo XVI incluyendo el cuerpo de
                            Juan Jesús Posadas Ocampo, asesinado en 1993 en el Aeropuerto Internacional de Guadalajara. También están los restos de los obispos Francisco Gómez de Mendiola y Don Juan Santiago de León Garabito quienes al fallecer, sus cuerpos
                            quedaron incólumes por lo que se les atribuye santidad.
                        </p>
                        <p>
                            Sus féretros se colocaron a los lados de la puerta principal y los feligreses los tocaban para pedirles favores: si al poner el oído sobre la caja escuchaban una respuesta desde el interior, el milagro sería concedido. Sublime para algunos y grotesca
                            para otros, una de las principales reliquias del arzobispado tapatío es el Relicario de los Mártires que consiste en una vitrina que exhibe los restos óseos de 23 hombres. Los restos de estos hombres fueron beatificados por
                            el Papa Juan Pablo II en 1992 en honor a haber defendido la libertad de culto religioso durante las guerras cristeras.
                        </p>
                        <a href="/assets/images/Infografias/Catedral3.jpg" class="image featured">
                            <img class="container" id="img3" src="/assets/images/Infografias/Catedral3.jpg" alt="" height="500" />
                        </a>
                    </article>
                    <br>
                </div>
                <br>


                <!-- Highlights -->
                <app-lugares></app-lugares>

            </div>
        </div>