<head>
    <title>Catedral Guadalajara</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="styleheet" href="/node_modules/bootstrap/js/src/carousel.js" />
    <link rel="styleheet" href="/node_modules/bootstrap/css/bootstrap.min.css" />
</head>

<body id="body" class="no-sidebar is-preload"><br>
    <div id="page-wrapper">
        <!-- Main -->
        <div id="main" class="wrapper style2 ">
            <div class="title "></div>
            <div class="container  ">
                <!-- Content -->
                <div class="container bg-light " id="content" *ngFor="let siti of sitios |  paginate: { itemsPerPage: 1, currentPage: pageActual }">
                    <h2> {{siti.nombresitio}}</h2>
                    <h3>{{siti.subtitulo}}<br class="mobile-hide" /></h3>
                    <article class="box post " id="texto">
                        <header class="style1"></header>
                        <a class="image featured">
                            <img class="container" id="img1" [src]="url + '/' + siti.imagePath" alt="" height="450" />
                        </a>
                        <p class="text-justify">
                            {{siti.descripcioncorta}}
                        </p>
                        <p class="text-justify">
                            {{siti.contenido1}}
                        </p>
                        <p class="text-justify">
                            {{siti.contenido2}}
                        </p>
                    </article>
                    <br>
                </div>
                <br>
                <div class="col-sm-12 col-md-8 posicionar-pagination">
                    <!-- Pagination md and lg-->
                    <pagination-controls class="pagination-style pagination-table-responsive" (pageChange)="pageActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente">
                    </pagination-controls>
                </div>
                <!-- Highlights -->
                <app-lugares></app-lugares>

            </div>
        </div>